.resHeader {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  color: white;
}

.portFont {
  font-family: 'Quando', serif;
}

.px {
  margin-left: 5px
}

.carousel {
  width:90%;
  height:90%;
}

.terry {
  width:55%;
  height:55%;
}

.syncdUp{
  margin-bottom: .5em;
  height: 9em;
}

.erika{
  height: 9em;
  margin-bottom: .5em;

}
.bison{
  height: 9em;
  margin-bottom: .5em;
}