.resHeader {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px
}

.portFont {
  font-family: 'Quando', serif;
}

.px {
  margin-left: 5px
}

.carousel {
  width:90%;
  height:90%;
}

.terry {
  width:55%;
  height:55%;
}
