.resHeader {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  /* color:rgb(253, 251, 232)!important */
}

/* .resHeader:hover{
  color:black!important;
} */

.resFont {
  font-family: 'Be Vietnam', sans-serif;
}

